<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Meu primeiro projeto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="../../assets/1aab031ac69e705afad81aebf063e261.jpg" alt="" srcset="" width="100%">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Meu cartão</ion-card-title>
      <ion-card-subtitle>Subtítulo do cartão</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam officiis magnam officia ullam. Temporibus explicabo maxime consequuntur fuga, voluptatem adipisci, maiores ut tempore repellat nostrum repudiandae autem, porro doloremque. Magnam.
    </ion-card-content>
  </ion-card>
  <ion-button expand="block">Default</ion-button>
  <ion-button>Default</ion-button>
  <ion-button disabled="true">Default</ion-button>
</ion-content>
